<div ng-controller="EmployeeConfigCtrl as config">
	<div class="row">
		<div class="p-l-1">
			<div class="placeloadtitle col-md-9" ng-hide="contentPlaceholder"></div>
			<div class="placeloadbread col-md-3" ng-hide="contentPlaceholder"></div>
			<div class="placeloadleft col-md-5" ng-hide="contentPlaceholder"></div>
			<div class="placeloadright col-md-7" ng-hide="contentPlaceholder"></div>
		</div>
	</div>
	<!-- begin contentData -->
	<div ng-show="contentData">
	    <!-- begin breadcrumb -->
	    <ol class="breadcrumb pull-right">
	        <li><a href="javascript:;">Home</a></li>
	        <li><a href="javascript:;">User Management</a></li>
	        <li class="active">Manage Users</li>
	    </ol>
	    <!-- end breadcrumb -->
	    <!-- begin page-header -->
	    <h1 class="page-header">Update Account <small>modify user profile...</small></h1>
	    <!-- end page-header -->
	    <!-- begin row -->
	    <div class="row">
	    	<!-- start col-md-5 -->
	    	<div class="col-md-5">
				<md-card ng-show="updatepage" class="updateUser" permission="['update users']">
					<md-card-content>
						<div layout="column" layout-padding ng-cloak>
							<md-content class="md-no-momentum">
								<div class="text-center">
									<h3 class="m-t-10" md-colors="{color: 'grey-800'}">Update User</h3>
									<p md-colors="{color: 'grey-700'}">Update Employee details.</p>
								</div>
								<div class="search-divider m-b-20"></div>
								<form name="updateForm" ng-submit="updateUser(updateEmployee)">
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Employee No.</label>
												<input required type="text" name="employeeId" ng-model="updateEmployee.employeeId"
												/>
												<div ng-messages="updateForm.employeeId.$error">
													<div ng-message="required">This is required.</div>
												</div>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Email Address</label>
												<input required type="email" name="email" ng-model="updateEmployee.email" ng-pattern="usersEmailFormat"/>
												<div ng-messages="updateForm.email.$error">
													<div ng-message="required">This is required.</div>
													<div ng-message="pattern">Invalid email address</div>
												</div>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-xs="column" layout-wrap>
										<md-input-container flex>
											<label>Username</label>
											<input required name="username"  minlength="4" ng-model="updateEmployee.username" ng-trim="false" 
											/>
											<div ng-messages="updateForm.username.$error">
												<div ng-message="required">This is required.</div>
												<div ng-message="minlength">Your username must be not less than 4 characters.</div>
												<div ng-message="pattern">must only contain alphanumeric, underscore('_') or hypen ('-')</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-xs="column" layout-wrap>
										<md-input-container flex>
											<label>Password</label>
											<input type="password" minlength="6" name="password" ng-model="updateEmployee.password" ng-pattern="passwordFormat">
											<div ng-messages="updateForm.password.$error">
												<div ng-message="required">This is required.</div>
												<div ng-message="minlength">Your password must be not less than 6 characters.</div>
			                                    <div ng-message="pattern">Your password must contain atlest one lowercase letter, one number and one special character.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap layout-xs="column">
										<md-input-container flex>
											<label>First Name</label>
											<input required name="firstname" ng-model="updateEmployee.firstname">
											<div ng-messages="updateForm.firstname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>

										<md-input-container flex>
											<label>Last Name</label>
											<input required name="lastname" ng-model="updateEmployee.lastname">
											<div ng-messages="updateForm.lastname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap layout-xs="column">
										<md-input-container flex>
												<label>Middle Name</label>
												<input type="text" name="middlename" ng-model="updateEmployee.middlename"
												/>
										</md-input-container>

										<md-input-container flex>
											<label>Birth Date</label>
											<md-datepicker name="birthdate" ng-model="updateEmployee.birthdate"
											/>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
    										<md-input-container class="md-block">
    										<label>Roles</label>
    											<md-select ng-model="updateEmployee.roleId" name="roleId" required>
    												<md-option ng-repeat="r in roles" value="{{r.id}}">{{r.roleName}}</md-option>
    											</md-select>
    											<div ng-messages="updateForm.roleId.$error">
    												<div ng-message="required">This is required.</div>
    											</div>
											</md-input-container>
										</div>
									</div>
									<div class="m-t-30">
										<md-button type="submit" name="updateUser" class="md-raised md-primary m-l-0" ng-disabled="updateForm.$invalid">Submit</md-button>
										<!-- <md-button type="submit" ng-disabled="regForm.$invalid" class="md-raised md-primary m-l-0" >Submit</md-button> -->
									</div>

								</form>
							</md-content>
						</div>
					</md-card-content>
				</md-card>
				<md-card ng-show="!updatepage" class="createUser" permission="['create users']">
					<md-card-content>
						<div layout="column" layout-padding ng-cloak>
							<md-content class="md-no-momentum">
								<div class="text-center">
									<h3 class="m-t-10" md-colors="{color: 'grey-800'}">Register User</h3>
									<p md-colors="{color: 'grey-700'}">Add Employee to company.</p>
								</div>
								<div class="search-divider m-b-20"></div>
								<form name="regForm" ng-submit="addUser(employeeDetails)">
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Employee No.</label>
												<input required type="text" name="employeeId" ng-model="employeeDetails.employeeId"
												/>
												<div ng-messages="regForm.employeeId.$error">
													<div ng-message="required">This is required.</div>
												</div>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Email Address</label>
												<input required type="email" name="email" ng-model="employeeDetails.email" ng-pattern="usersEmailFormat"/>
												<div ng-messages="regForm.email.$error">
													<div ng-message="required">This is required.</div>
													<div ng-message="pattern">Invalid email address</div>
												</div>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-xs="column" layout-wrap>
										<md-input-container flex>
											<label>Username</label>
											<input required name="username"  minlength="4" ng-model="employeeDetails.username" ng-trim="false" 
											/>
											<div ng-messages="regForm.username.$error">
												<div ng-message="required">This is required.</div>
												<div ng-message="minlength">Your username must be not less than 4 characters.</div>
												<div ng-message="pattern">must only contain alphanumeric, underscore('_') or hypen ('-')</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-xs="column" layout-wrap>
										<md-input-container flex>
											<label>Password</label>
											<input type="password" minlength="6" required name="password" ng-model="employeeDetails.password" ng-pattern="passwordFormat">
											<div ng-messages="regForm.password.$error">
												<div ng-message="required">This is required.</div>
												<div ng-message="minlength">Your password must be not less than 6 characters.</div>
			                                    <div ng-message="pattern">Your password must contain atlest one lowercase letter, one number and one special character.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap layout-xs="column">
										<md-input-container flex>
											<label>First Name</label>
											<input required name="firstname" ng-model="employeeDetails.firstname">
											<div ng-messages="regForm.firstname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>

										<md-input-container flex>
											<label>Last Name</label>
											<input required name="lastname" ng-model="employeeDetails.lastname">
											<div ng-messages="regForm.lastname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap layout-xs="column">
										<md-input-container flex>
												<label>Middle Name</label>
												<input type="text" name="middlename" ng-model="employeeDetails.middlename"
												/>
										</md-input-container>

										<md-input-container flex>
											<label>Birth Date</label>
											<md-datepicker name="birthdate" ng-model="employeeDetails.birthdate"
											/>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
    										<md-input-container class="md-block">
    										<label>Roles</label>
    											<md-select ng-model="employeeDetails.roleId" name="roleId" required>
    												<md-option ng-repeat="r in roles" value="{{r.id}}">{{r.roleName}}</md-option>
    											</md-select>
    											<div ng-messages="regForm.roleId.$error">
    												<div ng-message="required">This is required.</div>
    											</div>
											</md-input-container>
										</div>
									</div>
									<div class="m-t-30">
										<md-button type="submit" name="createUser" class="md-raised md-primary m-l-0" ng-disabled="regForm.$invalid">Submit</md-button>
										<!-- <md-button type="submit" ng-disabled="regForm.$invalid" class="md-raised md-primary m-l-0" >Submit</md-button> -->
									</div>

								</form>
							</md-content>
						</div>
					</md-card-content>
				</md-card>
		    </div>
		    <!-- end col-md-5 -->
		    <!-- start col-md-7 -->
	    	<div class="(isupdate == 'true')? 'col-md-7' : 'col-md-12'"> 
	    	<!-- <pre>{{isupdate|json}}</pre> -->
	    		<md-card>
	    			<md-card-title  md-colors="{background: 'Amber-A700'}">
	    				<md-card-title-text>
	    				<span class="md-headline" md-colors="{color: 'grey-50'}">Registered Employee</span>
	    				</md-card-title-text>
	    			</md-card-title>
	    			<md-divider></md-divider>
					<md-card-content permission="['view users','update users','create users','activate/deactivate users']">
	    				<table datatable="" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-bordered table-condensed" width="100%">
						</table>
	    			</md-card-content>
	    		</md-card>
			</div> <!-- end col-md-7 -->
	    </div> <!-- end row -->
	</div> <!-- end contentData -->
</div>